#team_section
  background: #7F7A8B
  color: $gray

  .map
    +fill-parent()
    margin: 3em 0

  .team-list
    +inline-list
    li
      .avatar
        margin-bottom: 1em
        
      h5
        font-weight: 500

